.profile-container {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
  }
  .profile-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, white, rgb(219, 219, 239));
    border-radius: 10px;
    margin: 8px;
    box-shadow: 3px 6.1px 6.1px hsla(0, 0%, 27%, 0.41);
  }
  .account-back-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .back-button {
    font-size: 20px;
    color: #3e4c59;
    margin-left: 10px;
    margin-right: 15px;
    cursor: pointer;
  }
  .account-text {
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color: #1e293b;
  }
  .cart-in-profile {
    color: #183b56;
    margin-right: 25px;
    font-size: 20px;
  }
  .profile-cart-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .cart-icon-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35px; /* Increased size for better visibility */
    width: 49px; /* Increased size for better visibility */
    box-sizing: border-box;
    overflow: hidden; /* Ensures child elements cannot overflow */
    cursor: pointer;
  }
  
  .count-foods-profile {
    position: absolute;
    top: 0;
    right: 13px;
    background-color: #446a8d;
    color: white;
    border-radius: 50%;
    width: 45%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
  }
  
  .user-container {
    width: 50vw;
    margin: 10px;
    border-radius: 8px;
    background-image: linear-gradient(
      to right,
      rgb(229, 229, 239),
      rgb(200, 228, 200),
      rgb(231, 218, 194)
    );
    box-shadow: 3px 6.1px 6.1px hsla(0, 1%, 28%, 0.41);
  }
  .user-details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .user {
    font-size: 30px;
    margin-right: 10px;
    color: #183b56;
  }
  .user-name {
    font-family: DM Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    color: #183b56;
  }
  .user-offer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .offer-container {
    width: 50vw; /* Half of the screen width */
    height: 100%; /* Adjust height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensures no overflow of image */
  }
  
  .offer-image {
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 14px 14px 14px 14px;
    box-shadow: 0px 4px 8px 16px rgb(124, 121, 121);
    width: 100%; /* Ensures the image fills the container width */
    height: 90%; /* Ensures the image fills the container height */
    object-fit: cover; /* Makes the image cover the entire container without distortion */
  }
  .help-coins-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
  }
  .help-center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #5d6877;
    border-radius: 8px;
    padding: 10px 30px;
    line-height: 1rem;
  }
  .super-coins-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #5d6877;
    border-radius: 8px;
    padding: 10px 30px;
    line-height: 0.7rem;
  }
  .call {
    font-size: 25px;
    color: rgba(247, 147, 30, 1);
  }
  .coins {
    font-size: 30px;
    color: rgba(247, 147, 30, 1);
  }
  .help-center-text {
    font-family: DM Sans;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.20000000298023224px;
    color: #475569;
  }
  .super-coins-text {
    font-family: DM Sans;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.20000000298023224px;
    color: #475569;
  }
  .history-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 18px;
    margin-top: 20px;
    margin-right: 18px;
  }
  .activity-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 0.2rem;
    margin-top: 20px;
  }
  .profile-line {
    border-color: rgba(246, 240, 236, 0.479);
    width: 50%;
    top: 0;
    align-self: left;
    margin-right: 50%;
  }
  .history-head {
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 300;
    color: #1e293b;
    bottom: 0;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .text {
    font-family: DM Sans;
    color: #64748b;
  }
  